# NoneBot 配置示例
# 复制此文件为 .env.prod 并根据需要修改

ENVIRONMENT=prod
HOST=0.0.0.0
PORT=8080
LOG_LEVEL=INFO
COMMAND_START=["/", ""]
COMMAND_SEP=["."]
DRIVER=~fastapi+~httpx

# OneBot配置
# 注意：2687427348 替换为你的机器人QQ号
ONEBOT_API_ROOTS={"你的机器人QQ号": "http://127.0.0.1:3000"}
ONEBOT_ACCESS_TOKEN=jmbot2024
